.msg {
    &-banner {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    
        background-color: var(--msg-color);
        font-weight: bold;
        flex-direction: row;
        justify-content: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        z-index: var(--z-index-overlay);
    }

    &-target {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 4px;
    }
}

.search-button {
    flex: none;

    height: 30px;
    width: 30px;
    border: none;
    border-left: 1px solid var(--line-color);
    background-color: var(--bg-color);
    background-image: var(--search-icon);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
        background-color: var(--hover-color);
    }

    &:focus {
        outline: none;
        background-color: var(--hover-color);
    }

    &:active {
        background-color: var(--active-color);
    }
}

.popup-header {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid var(--line-color);
    position: relative;
    display: flex;
    flex-direction: row;

    &-horiz {
        max-width: none;
    }

    &-vert {
        max-width: 300px;
    }

    &-path {
        flex: auto;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 30px;
        line-height: 30px;
        min-width: 200px;
        background-color: var(--line-color);
        padding: 0px;
        margin: 0px;

        &-empty {
            background-color: inherit;
        }
    }

    &-search {
        flex: auto;
        padding-left: 10px;
        user-select: text;
    
        &:focus {
            outline: none;
            background-color: var(--hover-color);
        }
    }

    &-hidden {
        flex: auto;
        text-align: center;
        font-weight: bold;
    } 
}