/* global properties */
:root {
  --text-color: #000000;
  --bg-color: #ffffff;
  --hover-color: #efefef;
  --active-color: #e5e5e5;
  --line-color: #dbdbdb;
  --msg-color: #daf0ff;
  --folder-icon: url("../icons/folder.webp");
  --search-icon: url("../icons/search.webp");
  --manage-icon: url("../icons/manage.webp");
  --icon-filter: contrast(1);
}

/* only for ref, actually set in js */
/* @media (prefers-color-scheme: dark) {
  :root {
    --text-color: #eeeeee;
    --bg-color: #3a3a3a;
    --hover-color: #545454;
    --active-color: #6d6d6d;
    --line-color: #878787;
    --msg-color: #006375;
  }
} */

/* scroll bar custom */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: var(--active-color);
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-show::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-show-horiz::-webkit-scrollbar {
  width: auto!important;
  height: 6px!important;
}
/* global font & bg color */
body {
  font-size: 12px;
  color: var(--text-color);
  background-color: var(--bg-color);
  margin: 0px 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 800px;
  max-height: 600px;
  user-select: none;
}

/* hide */
.bm-hide {
  display: none!important;
}

/* header */
#bm-header {
  flex: 0 0 auto;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid var(--line-color);

  display: flex;
  flex-direction: row;
}
#bm-search-box {
  flex: 1 1 auto;

  display: flex;
  flex-direction: row;
  align-items: stretch;
}
#bm-search-box input {
  flex: 1 1 auto;
  padding-left: 10px;
  user-select: text;
}
#bm-search-btn {
  flex: 0 0 auto;
  height: 100%;
  width: 30px;
  border-left: 1px solid var(--line-color);
  background-color: var(--bg-color);
  background-image: var(--search-icon);
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
}
#bm-search-btn:hover {
  background-color: var(--hover-color);
}
#bm-search-btn:active {
  background-color: var(--active-color);
}
/* breadcrumb */
.bm-breadcrumb {
  flex: 1 1 auto;
  min-width: 0px;

  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 30px;
  line-height: 30px;
  background-color: var(--line-color);
  padding: 0px;
  margin: 0px;
}
.bm-breadcrumb li {
  flex: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  cursor: pointer;
}
.bm-breadcrumb li:not(:first-child) {
  margin-left: -9px;
}
.bm-breadcrumb li:last-child a{
  font-weight: bold;
}
.bm-breadcrumb li:hover *{
  background-color: var(--hover-color);
}
.bm-breadcrumb li:active *{
  background-color: var(--active-color);
}
.bm-breadcrumb li:first-child::before{
  content: "";
  height: 30px;
  width: 26px;
  background-color: var(--bg-color);
  background-image: var(--folder-icon);
  background-size: 16px 16px;
  background-position: 10px center;
  background-repeat: no-repeat;
}
.bm-breadcrumb li:first-child:hover::before {
  background-color: var(--hover-color);
}
.bm-breadcrumb li:first-child:active::before {
  background-color: var(--active-color);
}
.bm-breadcrumb li:not(:first-child)::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 10px;
  border-color: var(--bg-color) transparent var(--bg-color) transparent;
}
.bm-breadcrumb li:not(:first-child):hover::before {
  border-color: var(--hover-color) transparent var(--hover-color) transparent;
}
.bm-breadcrumb li:not(:first-child):active::before {
  border-color: var(--active-color) transparent var(--active-color) transparent;
}
.bm-breadcrumb li:not(:last-child)::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 10px;
  border-color: transparent transparent transparent var(--bg-color);
  z-index: 2;
}
.bm-breadcrumb li:not(:last-child):hover::after {
  border-color: transparent transparent transparent var(--hover-color);
}
.bm-breadcrumb li:not(:last-child):active::after {
  border-color: transparent transparent transparent var(--active-color);
}
.bm-breadcrumb li a {
  color: var(--text-color);
  background-color: var(--bg-color);
  text-decoration: none;
  flex: auto;
  padding-left: 5px;
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* message notify */
#bm-msg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  line-height: 30px;
  background-color: var(--msg-color);
  font-weight: bold;
  flex-direction: row;
  justify-content: center;
  z-index: 3;
}

/* bookmark item */
.bm-icon {
  height: 16px;
  width: 16px;
  background-color: inherit;
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
}
.bm-text {
  width: 100%;
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#bm-lists {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 300px;
}
.bm-lists-horiz {
  overflow-y: hidden!important;
  overflow-x: auto!important;
  max-width: none!important;
}
.bm-tree {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(auto-fit, 30px);
  grid-template-columns: 300px;
  grid-auto-columns: 300px;
  grid-auto-rows: 30px;
  max-height: none;
  min-width: 300px;
}
.bm-tree-horiz {
  grid-auto-flow: column!important;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))!important;
  grid-auto-columns: minmax(200px, 1fr)!important;
  max-height: 540px!important;
}
.bm-item {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  background-color:inherit; 
  cursor:pointer;

  display: flex;
  align-items: center;
}
.bm-item:hover {
  background-color: var(--hover-color);
}
.bm-item:active {
  background-color: var(--active-color);
}
.bm-item .bm-icon {
  flex: 0 0 auto;
  background-image: var(--folder-icon);
}
.bm-item img {
  flex: 0 0 auto;
  height: 16px;
  width: 16px;
  filter: var(--icon-filter);
}
.bm-item .bm-text {
  flex: 1 1 auto;
}

/* back button */
#bm-upper {
  border-bottom-color: var(--line-color);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 5px;
  flex: 0 0 auto;
}

/* manage button */
#bm-manage {
  flex: 0 0 auto;
  border-top-color: var(--line-color);
  border-top-width: 1px;
  border-top-style: solid;
  padding-left: 10px;
  padding-bottom: 2px;

  display: flex;
  align-items: center;
}
#bm-manage .bm-icon{
  flex: 0 0 auto;
  background-image: var(--manage-icon);
}
#bm-manage .bm-text{
  flex: 1 1 auto;
}