/* scroll bar custom */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #e5e5e5;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-show::-webkit-scrollbar {
  width: 6px;
}

/* global font & bg color */
body {
  font-size: 12px;
  background-color:white;
  width: 300px;
  margin: 0px 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  max-height: 600px;
}

/* show & hide */
.bm-show {
  display: flex;
}
.bm-hide {
  display: none;
}

/* breadcrumb */
.bm-breadcrumb {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 30px;
  line-height: 30px;
  background-color: #dbdbdb;
  --breadcrumb-bg-color: #ffffff;
  --breadcrumb-hover-color: #efefef;
  --breadcrumb-active-color: #e5e5e5;
  padding: 0px;
  margin: 0px;
  border-bottom-color: #dbdbdb;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.bm-breadcrumb li {
  flex: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
.bm-breadcrumb li img{
  height: 30px;
  width: 16px;
  flex: 0 0 auto;
  line-height: 30px;
  background-color: #ffffff;
  padding-left: 10px;
}
.bm-breadcrumb li:not(:first-child) {
  margin-left: -9px;
}
.bm-breadcrumb li:last-child a{
  font-weight: bold;
}
.bm-breadcrumb li:hover *{
  background: var(--breadcrumb-hover-color);
}
.bm-breadcrumb li:active *{
  background: var(--breadcrumb-active-color);
}
.bm-breadcrumb li:not(:first-child)::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 10px;
  border-color: var(--breadcrumb-bg-color) transparent var(--breadcrumb-bg-color) transparent;
}
.bm-breadcrumb li:not(:first-child):hover::before {
  border-color: var(--breadcrumb-hover-color) transparent var(--breadcrumb-hover-color) transparent;
}
.bm-breadcrumb li:not(:first-child):active::before {
  border-color: var(--breadcrumb-active-color) transparent var(--breadcrumb-active-color) transparent;
}
.bm-breadcrumb li:not(:last-child)::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 10px;
  border-color: transparent transparent transparent var(--breadcrumb-bg-color);
  z-index: 2;
}
.bm-breadcrumb li:not(:last-child):hover::after {
  border-color: transparent transparent transparent var(--breadcrumb-hover-color);
}
.bm-breadcrumb li:not(:last-child):active::after {
  border-color: transparent transparent transparent var(--breadcrumb-active-color);
}
.bm-breadcrumb li a {
  color: black;
  background-color: var(--breadcrumb-bg-color);
  text-decoration: none;
  flex: auto;
  padding-left: 5px;
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* bookmark item */
#bm-lists {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
}
.bm-tree {
  flex-direction: column;
  width: 300px;
}
.bm-item {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  background-color:inherit; 
  display: flex;
  align-items: center;
}
.bm-item:hover {
  background-color: #efefef;
}
.bm-item:active {
  background-color: #e5e5e5;
}
.bm-item img {
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
}
.bm-item a {
  color: black;
  text-decoration: none;
  flex: 1 1 auto;
  width: 100%;
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* back button */
#bm-upper {
  border-bottom-color: #dbdbdb;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 5px;
  flex: 0 0 auto;
}

/* manage button */
#bm-manage {
  border-top-color: #dbdbdb;
  border-top-width: 1px;
  border-top-style: solid;
  padding-bottom: 5px;
  flex: 0 0 auto;
}